.services {
  width: 100%;
  height: 100%;
  padding: 103px 0;
  background-color: #f4f4f4;

  .howWeWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    .howWeWorkHead {
      text-align: center;
      margin-bottom: 35px;
      h2 {
        font-size: 33px;
        font-weight: 600;
        margin-top: 18px;
        padding: 0 40px 0 40px;
      }
    }
  }
}
.services_container {
  width: 100%;
  margin: 30px auto 0 auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    .services_card {
      width: 100%;
      text-align: center;
      padding-right: 3rem;
      padding-left: 3rem;
      margin-bottom: 3rem;
      &:hover{
        transition: all .3s ease-in;
        i{
          transition: all .3s ease-in;
          scale: 1.1;
          color: #ffb629;
        }
        h2{
          transition: all .3s ease-in;
          scale: 1.1;
          color: #2b2a27;
        }
        span{
          transition: all .3s ease-in;
          font-size: 15px;
          color: #6e5c26;
        }
      }
      i {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 70px;
        color: #0c6183;
      }
      h2 {
        height: 65px;
        font-size: 19px;
        font-weight: 500;
        color: rgb(2, 8, 59);
      }
      span {
        font-size: 14px;
        font-weight: 400;
        color: #498ea9;
      }
    }
  }
}
//media
@media (max-width: 500px){
  .howWeWorkHeadH2{
    font-size: 25px !important;
  }
}
@media (min-width: 768px){
  .services_card {
    flex: 0 0 auto !important;
    width: 50% !important;
  }
}
@media (min-width: 992px) {
  .services_container {
    max-width: 960px;
  }
  .services_card {
    flex: 0 0 auto !important;
    width: 33.33333333% !important;
  }
}
@media (min-width: 1200px){
  .services_container {
    max-width: 1140px;
  }
  .services_card {
    flex: 0 0 auto !important;
    width: 25% !important;
  }
}